/tmp
/out-tsc
/dist
.idea

/node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
/.pnp
.pnp.js
pnpm-lock.yaml

.vscode/*

# TypeScript
*.tsbuildinfo

# Build outputs
dist/

/example-pages
/example-snippets